.telegram-button{
    
    top: 20px;
}

.telegram-username-input{
    width: 30%;
    padding: 10px;
}


.fitbit-card {
  margin-bottom: 6px;
  margin-top: 12px;
}


.facebook-actions-div {
    margin: 16px;
  }
  
  .facebook-card {
    margin-bottom: 6px;
    margin-top: 12px;
  }
  
  .post-like-div {
    padding: 12px;
    position: relative;
  }
  