<div fxLayout="row" fxLayoutAlign="center center" class="page-title-header">
  <i class="fa fa-instagram fa-4x" aria-hidden="true"></i>
</div>

<div class="main-content-page" fxLayout="row" fxLayoutAlign="center center" *ngIf="loading; else content">
  <mat-spinner></mat-spinner>
</div>

<ng-template #content>
  <div class="main-content-page" *ngIf="!user || !user.identities || !user.identities.instagram; else instagramData">
    <h2>No Linked Account</h2>
    <p>By linking your account, you agree that {{appName}} will be able to read your Instagram profile information,
      as well as your posts and the pages you like.</p>
    <button mat-raised-button (click)="associate()" color="primary">Link Account</button>
  </div>

  <ng-template #instagramData>
    <div ngClass.gt-sm="main-content-page">
      <h1 fxHide.lt-sm fxHide.sm>Instagram Account</h1>

      <div class="instagram-actions-div" fxLayout fxLayoutAlign="center center" fxLayoutAlign.gt-sm="end center">
        <div fxFlex fxFlex.gt-sm="80" fxLayout fxLayout.lt-md="column">
          <mat-slide-toggle fxFlex [(ngModel)]="shareProfile" (change)="updateShareProfile()">Share Profile</mat-slide-toggle>
          <mat-slide-toggle fxFlex [(ngModel)]="shareMessages" (change)="updateShareMessages()">Share Messages</mat-slide-toggle>
        </div>
        <span fxFlex.gt-sm="5"></span>
        <button fxFlex="90" fxFlex.gt-sm="25" mat-raised-button color="warn" (click)="deleteAccount()">Delete Account</button>
      </div>

      <mat-card class="instagram-card">
        <mat-card-title>Profile Data</mat-card-title>
        <mat-table #table [dataSource]="dataSource">
          <ng-container matColumnDef="dataName">
            <mat-header-cell *cdkHeaderCellDef> Data </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.dataName | uppercase }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="dataValue">
            <mat-header-cell *cdkHeaderCellDef> Value </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.dataValue }} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <br>
        <button mat-raised-button color="primary" (click)="updateProfile(true)">
          <mat-icon aria-label="get_data">cached</mat-icon>
          Update Profile
        </button>
      </mat-card>

      <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutWrap>

        <!-- posts -->
        <mat-card fxFlex fxFlex.lt-md="100" fxLayoutAlign="center center" class="instagram-card"
                  *ngIf="loadingPosts; else postsCard">
          <mat-spinner></mat-spinner>
        </mat-card>
        <ng-template #postsCard>
          <mat-card fxFlex="100" fxFlex.lt-md="100" class="instagram-card">
            <div *ngIf="posts.length > 0; else noPosts">
              <mat-card-title>Your last Posts</mat-card-title>
              <div class="post-like-div" *ngFor="let post of posts">
                <table style="width:100%">
                  <tr>
                    <td style="width:50%">
                      <table>
                        <td>
                          <tr align="left"><p *ngIf="post.text">Caption:  {{ post.text }} </p></tr>
                          <tr align="left"><p *ngIf="post.date">Date:  {{ post.date | date:'short' }} </p></tr>
                          <tr align="left"><p *ngIf="post.likes">Likes:  {{ post.likes }} </p></tr>
                        </td>
                      </table>
                    </td>
                    <td style="width:50%">
                      <table style="width:50%">
                        <tr>
                          <td><p *ngIf="post.images && post.images.length"><img src="{{ post.images[0] }}" height="80%" width="80%"> </p></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
                <mat-divider></mat-divider>
              </div>
              <button mat-raised-button color="primary" (click)="updatePosts(null, true)">
                <mat-icon aria-label="get_data">cached</mat-icon>
                Update Posts
              </button>
            </div>
            <ng-template #noPosts>
              <mat-card-title>No Posts Acquired</mat-card-title>
              <mat-card-content>
                In this section will be shown your posts, with text and story.
              </mat-card-content>
              <button mat-raised-button color="primary" (click)="updatePosts(null, true)">
                <mat-icon aria-label="get_data">get_app</mat-icon>
                Get Posts
              </button>
            </ng-template>
          </mat-card>
        </ng-template>

      </div>
    </div>
  </ng-template>
</ng-template>
